DB_HOST=localhost
DB_PORT=5438
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

ENCRYPTION_KEY=

NOTIFIER_SLACK_WEBHOOK_URL=
NOTIFIER_DISCORD_WEBHOOK_URL=
NOTIFIER_TEAMS_WEBHOOK_URL=

NOTIFIER_SMTP_HOST=
NOTIFIER_SMTP_PORT=587
NOTIFIER_SMTP_USERNAME=
NOTIFIER_SMTP_PASSWORD=
NOTIFIER_SMTP_FROM=pgwarden@example.com
NOTIFIER_SMTP_TO=alerts@example.com
