DB_HOST=host
DB_PORT=port
DB_USER=admin user
DB_PASSWORD=admin user password
DB_NAME=db name
ENCRYPTION_KEY= YOUR ENCRYPTION KEY
# Secret key for JWT API authentication
JWT_SECRET_KEY= YOUR JWT SECRET